<a href="https://colab.research.google.com/github/sahil301290/Python-for-Data-Science/blob/main/03_Date_and_Time_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Date, Time and Timezones in Python

###Date

In [1]:
#Imports
import datetime

In [2]:
#Passing particular date
D = datetime.date(2021, 1, 26)    #format yyyy, mm, dd
print(D)

2021-01-26

In [3]:
today = datetime.date.today()
print(today)

2021-05-26

In [4]:
print(today.year)
print(today.month)
print(today.day)

2021
5
26

In [5]:
#Printing the week day
print(today.weekday())      #Monday - 0,..., Sunday - 6
print(today.isoweekday())   #Monday - 1,..., Sunday - 7

2
3

In [6]:
#Finding which date it will be before or after few days
t_delta = datetime.timedelta(days = 10)
print(today - t_delta)
print(today + t_delta)

2021-05-16
2021-06-05

In [7]:
last_holiday  = datetime.date(2021, 6, 30)
holidays_left = last_holiday - today
print(holidays_left.days)
print(holidays_left.total_seconds())

35
3024000.0

###Time

In [8]:
today = datetime.time(10,30,20,1000)
print(today)

10:30:20.001000

In [9]:
print(today.hour)
print(today.minute)
print(today.second)
print(today.microsecond)

10
30
20
1000

In [10]:
#Combined datetime
today = datetime.datetime(2021, 4, 30, 10, 30, 20, 1000)
print(today)

2021-04-30 10:30:20.001000

In [11]:
print(today.year)
print(today.month)
print(today.day)
print(today.hour)
print(today.minute)
print(today.second)
print(today.microsecond)

2021
4
30
10
30
20
1000

In [12]:
time_delta = datetime.timedelta(days=10)
print(today + time_delta)

2021-05-10 10:30:20.001000

In [13]:
time_delta = datetime.timedelta(hours = 20)   #Similarly, it can be done for minutes, seconds, and microseconds
print(today)
print(today + time_delta)

2021-04-30 10:30:20.001000
2021-05-01 06:30:20.001000

In [14]:
dt_today = datetime.datetime.today()
print(dt_today)
dt_now = datetime.datetime.now()
print(dt_now)
dt_utc = datetime.datetime.utcnow()
print(dt_utc)

2021-05-26 14:38:32.083019
2021-05-26 14:38:32.084993
2021-05-26 14:38:32.086082

Time Zones in Python

In [15]:
import pytz     #Python TimeZone Library

In [16]:
dt = datetime.datetime(2021, 5, 26, 19, 10, 10, tzinfo = pytz.UTC)
print(dt)

2021-05-26 19:10:10+00:00

In [17]:
dt_utcnow = datetime.datetime.now(tz = pytz.UTC)
print(dt_utcnow)

2021-05-26 14:38:32.124509+00:00

In [18]:
#set(pytz.all_timezones_set)
'Asia/Kolkata' in set(pytz.all_timezones_set)

False

In [19]:
dt_India = dt_utcnow.astimezone(pytz.timezone('Asia/Kolkata'))
print(dt_India)

2021-05-26 20:08:32.124509+05:30

In [20]:
print(dt_India.isoformat())

2021-05-26T20:08:32.124509+05:30

In [21]:
print(dt_India.strftime('%d.%m.%Y'))

26.05.2021

In [22]:
dt_str = '26.05.2021'
dt = datetime.datetime.strptime(dt_str, '%d.%m.%Y')   #Strptime python is used to convert string to datetime object
print(dt)

2021-05-26 00:00:00

###Problem Statement

Lets say you shifted in the apartment on 10th Jan 2017.

Write a program to find total months/years you have stayed in your apartment till date.

In [23]:
startdate = datetime.date(2017, 1, 10)
todaydate = datetime.date.today()
print(startdate, todaydate)

2017-01-10 2021-05-26

In [24]:
(todaydate - startdate).days

1597

In [25]:
num_months = (todaydate.year - startdate.year) * 12 + (todaydate.month - startdate.month)
print(num_months)

52

In [26]:
num_years = num_months/12
round(num_years,2)

4.33