<a href="https://colab.research.google.com/github/sahil301290/Python-for-Data-Science/blob/main/06_Introducing_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Introducing Pandas

##Agenda:

###Series
- Basics of Pandas Series Object
- Series Operations

###DataFrames
- Basic DataFrame Operations
- Columns in DataFrame
- Rows in DataFrame

###Series

####Basics of Pandas Series Object

In [1]:
import numpy as np
import pandas as pd

In [2]:
#help(pd.Series)

In [3]:
#pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)

In [4]:
myindex = ['India', 'USA', 'Canada']
mydata = [1947, 1776, 1867]

In [5]:
myseries = pd.Series(data = mydata)
myseries

0    1947
1    1776
2    1867
dtype: int64

In [6]:
type(myseries)

pandas.core.series.Series

In [7]:
myseries = pd.Series(data = mydata, index = myindex)
myseries

India     1947
USA       1776
Canada    1867
dtype: int64

In [8]:
print(myseries[0])
print(myseries['India'])

1947
1947

In [9]:
jersey = {'Rohit':45, 'Virat':18, 'Yuvi':12}
pd.Series(jersey)

Rohit    45
Virat    18
Yuvi     12
dtype: int64

####Series Operations

In [10]:
#Performance of Mumbai Indians in IPL Matches
Match1 = {'Rohit':80, 'SKY': 68, 'Pollard': 90, 'Ishan': 45}
Match2 = {'Rohit':100, 'SKY': 80, 'Pollard': 20, 'Ishan': 60}

In [11]:
series_m1 = pd.Series(Match1)
series_m2 = pd.Series(Match2)

In [12]:
series_m1

Rohit      80
SKY        68
Pollard    90
Ishan      45
dtype: int64

In [13]:
series_m2

Rohit      100
SKY         80
Pollard     20
Ishan       60
dtype: int64

In [14]:
series_m1['Rohit']

80

In [15]:
series_m1[0]

80

In [16]:
#series_m1['rohit']

In [17]:
series_m1.keys()

Index(['Rohit', 'SKY', 'Pollard', 'Ishan'], dtype='object')

In [18]:
#Broadcasted operation on series
[1, 2] * 2

[1, 2, 1, 2]

In [19]:
np.array([1, 2])*2

array([2, 4])

In [20]:
(series_m1*2)/10

Rohit      16.0
SKY        13.6
Pollard    18.0
Ishan       9.0
dtype: float64

In [21]:
series_m1

Rohit      80
SKY        68
Pollard    90
Ishan      45
dtype: int64

In [22]:
series_m1['Pandya'] = 40
series_m2['Bumrah'] = 10
print(series_m1)
print(series_m2)

Rohit      80
SKY        68
Pollard    90
Ishan      45
Pandya     40
dtype: int64
Rohit      100
SKY         80
Pollard     20
Ishan       60
Bumrah      10
dtype: int64

In [23]:
series_m1 + series_m2

Bumrah       NaN
Ishan      105.0
Pandya       NaN
Pollard    110.0
Rohit      180.0
SKY        148.0
dtype: float64

In [24]:
op = series_m1.add(series_m2, fill_value=0)
op

Bumrah      10.0
Ishan      105.0
Pandya      40.0
Pollard    110.0
Rohit      180.0
SKY        148.0
dtype: float64

In [25]:
series_m1.dtype

dtype('int64')

In [26]:
op.dtype

dtype('float64')

###DataFrames

In [27]:
np.random.seed(100)
mydata = np.random.randint(0, 101, (3,4))
mydata

array([[ 8, 24, 67, 87],
       [79, 48, 10, 94],
       [52, 98, 53, 66]])

In [28]:
myindex = ['Mumbai','Delhi','Hyderabad']
mycolumns = ['Jan','Feb','Mar','Apr']

In [29]:
df = pd.DataFrame(mydata)
df

    0   1   2   3
0   8  24  67  87
1  79  48  10  94
2  52  98  53  66

In [30]:
df = pd.DataFrame(data = mydata, index = myindex)
df      #Multi-Index Rows without Column name

            0   1   2   3
Mumbai      8  24  67  87
Delhi      79  48  10  94
Hyderabad  52  98  53  66

In [31]:
df = pd.DataFrame(data = mydata, index = myindex, columns = mycolumns)
df

           Jan  Feb  Mar  Apr
Mumbai       8   24   67   87
Delhi       79   48   10   94
Hyderabad   52   98   53   66

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, Mumbai to Hyderabad
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jan     3 non-null      int64
 1   Feb     3 non-null      int64
 2   Mar     3 non-null      int64
 3   Apr     3 non-null      int64
dtypes: int64(4)
memory usage: 120.0+ bytes

Reading Files

In [33]:
#df = pd.read_

Reading CSV file

CSV File Link: https://www.kaggle.com/uciml/iris

In [34]:
!pwd

/content

In [35]:
!ls

Iris.csv  sample_data

In [36]:
df = pd.read_csv('Iris.csv')
df

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

####Basic DataFrame Operations

In [37]:
df.columns      #List of column names as strings

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [38]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [39]:
df.head()
#df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [40]:
df.tail()
#df.tail(10)

      Id  SepalLengthCm  ...  PetalWidthCm         Species
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[5 rows x 6 columns]

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [42]:
df.describe()
#df.describe().transpose()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

####Columns in DataFrame

In [43]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [44]:
type(df['PetalLengthCm'])

pandas.core.series.Series

In [45]:
mycols = ['PetalLengthCm', 'PetalWidthCm']
df[mycols]
#df[['PetalLengthCm', 'PetalWidthCm']]

     PetalLengthCm  PetalWidthCm
0              1.4           0.2
1              1.4           0.2
2              1.3           0.2
3              1.5           0.2
4              1.4           0.2
..             ...           ...
145            5.2           2.3
146            5.0           1.9
147            5.2           2.0
148            5.4           2.3
149            5.1           1.8

[150 rows x 2 columns]

In [46]:
PetalSumCm = df['PetalLengthCm'] + df['PetalWidthCm']
df['PetalSumCm'] = PetalSumCm

In [47]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm      Species PetalSumCm
0   1            5.1           3.5  ...           0.2  Iris-setosa        1.6
1   2            4.9           3.0  ...           0.2  Iris-setosa        1.6
2   3            4.7           3.2  ...           0.2  Iris-setosa        1.5
3   4            4.6           3.1  ...           0.2  Iris-setosa        1.7
4   5            5.0           3.6  ...           0.2  Iris-setosa        1.6

[5 rows x 7 columns]

In [48]:
#df.drop('PetalSumCm')
df.drop('PetalSumCm', axis = 1)

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [49]:
df

      Id  SepalLengthCm  SepalWidthCm  ...  PetalWidthCm         Species PetalSumCm
0      1            5.1           3.5  ...           0.2     Iris-setosa        1.6
1      2            4.9           3.0  ...           0.2     Iris-setosa        1.6
2      3            4.7           3.2  ...           0.2     Iris-setosa        1.5
3      4            4.6           3.1  ...           0.2     Iris-setosa        1.7
4      5            5.0           3.6  ...           0.2     Iris-setosa        1.6
..   ...            ...           ...  ...           ...             ...        ...
145  146            6.7           3.0  ...           2.3  Iris-virginica        7.5
146  147            6.3           2.5  ...           1.9  Iris-virginica        6.9
147  148            6.5           3.0  ...           2.0  Iris-virginica        7.2
148  149            6.2           3.4  ...           2.3  Iris-virginica        7.7
149  150            5.9           3.0  ...           1.8  Iris-virginica        6.9

[150 rows x 7 columns]

In [50]:
df = df.drop('PetalSumCm', axis = 1)
df

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [51]:
#Why axis = 0 is rows and axis = 1 is columns?
df.shape

(150, 6)

####Rows in DataFrame

In [52]:
df.index

RangeIndex(start=0, stop=150, step=1)

In [53]:
df = df.set_index('Id')    #Column 'Id' is now Index 'Id'
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [54]:
df = df.reset_index()
df

      Id  SepalLengthCm  ...  PetalWidthCm         Species
0      1            5.1  ...           0.2     Iris-setosa
1      2            4.9  ...           0.2     Iris-setosa
2      3            4.7  ...           0.2     Iris-setosa
3      4            4.6  ...           0.2     Iris-setosa
4      5            5.0  ...           0.2     Iris-setosa
..   ...            ...  ...           ...             ...
145  146            6.7  ...           2.3  Iris-virginica
146  147            6.3  ...           1.9  Iris-virginica
147  148            6.5  ...           2.0  Iris-virginica
148  149            6.2  ...           2.3  Iris-virginica
149  150            5.9  ...           1.8  Iris-virginica

[150 rows x 6 columns]

In [55]:
df = df.set_index('Id')
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [56]:
#Grab a row based on integer location OR labeled index location
df.iloc[0]

SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object

In [57]:
df.loc[1]

SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object

In [58]:
#Grabbing multiple rows
df.iloc[0:3]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa

In [59]:
df.loc[[1,2,3]]

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa

In [60]:
#Removing first row
df.drop(1, axis = 0)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
6              5.4           3.9            1.7           0.4     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[149 rows x 5 columns]

In [61]:
#Selecting rows instead of dropping
df.iloc[1:]

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
6              5.4           3.9            1.7           0.4     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[149 rows x 5 columns]

In [62]:
one_row = df.iloc[0]
one_row

SepalLengthCm            5.1
SepalWidthCm             3.5
PetalLengthCm            1.4
PetalWidthCm             0.2
Species          Iris-setosa
Name: 1, dtype: object

In [63]:
df = df.append(one_row)
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica
1              5.1           3.5            1.4           0.2     Iris-setosa

[151 rows x 5 columns]

In [64]:
#Drop duplicate rows
df = df.drop_duplicates()
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
Id
1              5.1           3.5            1.4           0.2     Iris-setosa
2              4.9           3.0            1.4           0.2     Iris-setosa
3              4.7           3.2            1.3           0.2     Iris-setosa
4              4.6           3.1            1.5           0.2     Iris-setosa
5              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
146            6.7           3.0            5.2           2.3  Iris-virginica
147            6.3           2.5            5.0           1.9  Iris-virginica
148            6.5           3.0            5.2           2.0  Iris-virginica
149            6.2           3.4            5.4           2.3  Iris-virginica
150            5.9           3.0            5.1           1.8  Iris-virginica

[147 rows x 5 columns]